<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Path System</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <button class="btn"><a href="/">Cadastrar</a></button>
        <button class="btn"><a href="/books">Clientes</a></button>
        <li class="head">Path System</li>
      </ul>
    </nav>
    {{{ body }}}
  </body>
</html>
