<h1>Clientes:</h1>
<div class="books-container">
  {{#each books}}
    <div>#{{this.id}} - 
      <span class="bold"><a href="/books/{{this.id}}">{{this.name}}</a>
      {{this.student}}
      </span>    
    </div>
  {{/each}}
</div>