<h1>Clientes:</h1>
<div class="books-container">
<form href="/searchbook" method="GET">
  <input type="text" name="" placeholder="Search...">
  <button type="submit">Search</button>
</form>
  {{#each books}}
    <div>
      <ul class="separator"></ul>
      <span class="identif">{{this.id}}</span> - 
      <span class="bold"><a  "text-decoration: none;" href="/books/{{this.id}}">{{this.name}}</a>
      :  {{this.student}}
      </span>  
    </div>
  {{/each}}
</div>