<h1>Clientes:</h1>
<div class="books-container">
<input id ="inputbar" type="text"  name="searchbar" placeholder="  Pesquisar cliente" onkeyup="search()">
<button id="btnsearch" type="text" name="btn3">Pesquisar</button>
  {{#each books}}

    <div>
      <ul class="separator"></ul>
      <span class="identif">{{this.id}}</span> - 
      <span class="bold"><a  "text-decoration: none;" href="/books/{{this.id}}">{{this.name}}</a>
      :  {{this.student}}
      </span>  
    </div>
  {{/each}}
</div>