<h1>Editar Cadastro:</h1>
<form class="form" action="/books/updatebook" method="POST">
  <input type="hidden" name="id" value="{{book.id}}">
 <div class="form-control">
    <label for="name">Cliente</label>
    <input type="text" name="name" placeholder="Nome do cliente">
  </div>
   <div class="form-control">
    <label for="student">Aluno</label>
    <input type="text" name="student" placeholder="Nome do Aluno  ">
  </div>
  <div class="form-control">
    <label for="conclusion">Data de conclusão</label>
    <input type="date" name="conclusion" placeholder="Data curso realizado">
  </div>
  <div class="form-control">
    <label for="certificate">Número do certificado</label>
    <input type="text" name="certificate" placeholder="Número do certificado">
  </div>
  <div class="form-control">
    <label for="course">Tipo do curso</label>
    <input type="text" name="course" placeholder="Tipo de curso realizado">
  </div>
  <div class="form-control">
    <label for="expiration">Data de vencimento</label>
    <input type="date" name="expiration" placeholder="Data de vencimento">
  </div>
  <div class="form-control">
    <label for="email">E-mail</label>
    <input type="email" name="email" placeholder="E-mail">
  </div>
  <div class="form-control">
    <label for="fone">Contato</label>
    <input type="fone" name="fone" placeholder="Telefone para contato">
  <input type="submit" value="Editar">
</form>