<div id="books-page">
  <form>
    <div class="books-container">
      <h1>Resultado da busca:</h1>

        <div>
          <ul class="separator"></ul>
          <span class="identif">{{this.id}}</span> - 
          <span class="bold"><a  "text-decoration: none;" href="/books/{{this.id}}">{{this.name}}</a>
          :  {{this.student}}
          </span>  
        </div>
    </div>
  </form>
</div>